#mainContacto{
    @include settingsGeneral('main');
    .contacto{
        @include settingCartasInf('container');
        width: 30rem;
        form{
            fieldset{
                width: 20rem;
            }
            label{
                font-size: 1.3rem;
            }
            input{
                width: 13rem;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $color-4;
            }
            input::placeholder,textarea::placeholder{
                color: $color-3;
                padding: 0 .5rem;
            }
            textarea{
                background-color: $color-6;
                border: none;
                resize: none;
                border-radius: 20px;
            }
            input[type=submit]{
                border: none;
                background-color: $color-6;
                border-radius: 20px;
            }
        }
    }
}
@media screen and (max-width: 469px) {
        .contacto{
            width: 100vw !important;
            fieldset{
                width: 90% !important;
            }
            input{
                width: 60% !important;
            }
             label{
                    font-size: 1.3rem;
                }
        }
}