#mainSobreNosotros, #mainIdeasEnMente{
    @include settingsGeneral('main');
    .secInfL{
        animation-name: despliegueInfL;
        animation-duration: 1.1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .secInfR{
        animation-name: despliegueInfR;
        animation-duration: 1.1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
}
#mainSobreNosotros{
    section{ 
        .secInf{
            @include settingInfoSeI('container');
            .info{
                @include settingInfoSeI('text');
            }
            img{
                @include settingInfoSeI('imgS');
            }
        }
        
    }
}
#mainIdeasEnMente{
    section{ 
        .secInf{
            @include settingInfoSeI('container');
            .info{
                @include settingInfoSeI('text');
            }
            img{
                @include settingInfoSeI('imgI');
            }
        }
        
    }
}
@media screen and (max-width:827px) {
    #mainSobreNosotros, #mainIdeasEnMente{
        section{
            height: 80% !important;
        }
        section .secInf{
            margin: 0.4rem 0 !important;
            height: 14rem !important ;
        }
        section .secInf .info{
            flex-direction: column;
            height: 14rem !important;
            overflow-y: auto !important;
        }
        .info img{
            min-height: 50%;
            padding: .5rem;
            width:80% !important;
            height: 72% !important;
            object-fit: cover;
        }
    }
}