nav a{
    color: inherit;
}
header{
    width: 100%;
    nav{
        background-color: transparent ;
        background-image: linear-gradient(to bottom, #646749be, #72755567, #7f826239, #8e916f17, #9c9f7c00);
        backdrop-filter: blur(2px);
        min-height: 4.5rem;
        a{
            color: $color-font !important;
        }
        a img{
            width: 4rem;
            height: 4rem;
        }
        z-index: 100;
    }
}