@keyframes despliegueuno{
    from{opacity: 0;
        transform: rotate(0deg);
        transform: translateY(0rem);
    }
    to{
        opacity: 1;
        transform: rotate(-50deg) translate(-8rem, -2rem);
    }
}
@keyframes desplieguedos{
    from{
        opacity: 0;
        transform: rotate(0deg);
        transform: translateY(0rem);
    }
    to{
        opacity: 1;
        transform: rotate(-30deg) translate(-04rem, 0rem);
    }
}
@keyframes desplieguetres{
    from{
        opacity: 0;
        transform: rotate(0deg);
        transform: translateY(0rem);
    }
    to{
        opacity: 1;
        transform: rotate(-10deg) translate(1rem, 0rem);
    }
}
@keyframes despliegueContainer {
    from{
        opacity: 0;
        transform: translate(0rem, -10rem);
    }to{
        opacity: 1;
        transform: translate(0rem, 0rem);
    }
}
@keyframes despliegueInfs {
    from{

    }to{
        
    }
}