footer{
    width: 100%;
    nav{
        background-color: transparent ;
        background-image: linear-gradient(to bottom, #646749c7, #727555cf, #7f8262c7, #8e916fd2, #9c9f7c95);
        backdrop-filter: blur(2px);
    }
}