#mainSobreNosotros, #mainIdeasEnMente{
    width: 100vw;
    height: 94vh;
    z-index: 0;
}
#mainSobreNosotros{
    section{ 
        margin-top: 3rem;
        .secInf{
            @include settingInfoSeI('container');
            .info{
                @include settingInfoSeI('text');
            }
            img{
                @include settingInfoSeI('imgS');
            }
        }
        
    }
}
#mainIdeasEnMente{
    section{ 
        margin-top: 3rem;
        .secInf{
            @include settingInfoSeI('container');
            .info{
                @include settingInfoSeI('text');
            }
            img{
                @include settingInfoSeI('imgI');
            }
        }
        
    }
}
@media screen and (max-width:827px) {
    #mainSobreNosotros, #mainIdeasEnMente{
        section{
            margin-top: 4rem !important;
            height: 87% !important;
        }
        section .secInf{
            margin: 0.4rem 0 !important;
            height: 14rem !important ;
        }
        section .secInf .info{
            flex-direction: column;
            height: 14rem !important;
            overflow-y: auto !important;
        }
        .info img{
            min-height: 50%;
            padding: .5rem;
            width:80% !important;
            height: 72% !important;
            object-fit: cover;
        }
    }
}