#mainSobreNosotros{
    background-image: none;
    background-color: $color-4;
    width: 100vw;
    height: 100vh;
    section{ 
        .secInf{
            overflow: hidden;
            margin: 1rem 0;
            padding: 0;
            height: 10rem;
            .info{
                height: 10rem;
                background-color: $color-5;
            }
            img{
                width: 20rem;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
    z-index: 0;
}
@media screen and (max-width:827px) {
    section .secInf{
        margin: 0.5rem 0;
        // height: 14rem ;
    }
    section .secInf .info{
        flex-direction: column;
        // height: 14rem ;
        overflow-y: auto !important;
    }
    .info img{
        padding: 1rem;
        width: 20rem;
        height: 100%;
        object-fit: cover;
    }
}