#mainInicio{
    @include settingsGeneral('main');
    @include settingsInicio;
    z-index: 50;
}

@media screen and (max-width: 654px) {
    main{
        .containerInf{
            .img{
                top: -14rem;
                left: 3rem !important;
            }
            #ctres{
                width: 9rem;
                object-fit: cover;
                opacity: 0;
                animation-delay: 300ms;
                animation-duration: 2s;
                animation-name: despliegueuno;
                animation-fill-mode: forwards;
            }
            #cdos{
                width: 9rem;
                object-fit: cover;
                opacity: 0;
                animation-delay: 300ms;
                animation-fill-mode: forwards;
                animation-duration: 2s;
                animation-name: desplieguedos;
            }
            #cuno{
                width: 9rem;
                object-fit: cover;
                opacity: 0;
                animation-delay: 300ms;
                animation-fill-mode: forwards;
                animation-duration: 2s;
                animation-name: desplieguetres;
            }
        }
    }
}