nav a{
    color: inherit;
}
header{
    width: 100%;
    nav{
        background-color: transparent ;
        background-image: linear-gradient(to bottom, #646749b6, #727555c6, #7f8262b2, #8e916fd2, #9c9f7c95);
        backdrop-filter: blur(2px);
        a{
            color: $color-font !important;
        }
        a img{
            width: 5rem;
        }
        z-index: 100;
    }
}