@keyframes despliegueuno {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: rotate(-50deg) translate(-8rem, -2rem);
  }
}
@keyframes desplieguedos {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: rotate(-30deg) translate(-4rem, 0rem);
  }
}
@keyframes desplieguetres {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: rotate(-10deg) translate(1rem, 0rem);
  }
}
@keyframes despliegueContainer {
  from {
    opacity: 0;
    transform: translate(0rem, -10rem);
  }
  to {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}
nav a {
  color: inherit;
}

nav {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.7137254902), rgba(114, 117, 85, 0.7764705882), rgba(127, 130, 98, 0.6980392157), rgba(142, 145, 111, 0.8235294118), rgba(156, 159, 124, 0.5843137255));
  backdrop-filter: blur(2px);
  z-index: 100;
}
nav a {
  color: rgb(205, 209, 195) !important;
}
nav a img {
  width: 5rem;
}

footer {
  width: 100%;
}
footer nav {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.7803921569), rgba(114, 117, 85, 0.8117647059), rgba(127, 130, 98, 0.7803921569), rgba(142, 145, 111, 0.8235294118), rgba(156, 159, 124, 0.5843137255));
  backdrop-filter: blur(2px);
}

main {
  color: rgb(205, 209, 195) !important;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 50;
}
main .containerInf {
  width: 70%;
  height: 70%;
  opacity: 0;
  animation-delay: 100ms;
  animation-duration: 1s;
  animation-name: despliegueContainer;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
main .containerInf .img {
  top: -14rem;
  left: -15%;
}
main .containerInf .img img {
  top: 0rem;
}
main .containerInf .img #ctres {
  width: 15rem;
  object-fit: cover;
  opacity: 0;
  animation-delay: 300ms;
  animation-duration: 2s;
  animation-name: despliegueuno;
  animation-fill-mode: forwards;
}
main .containerInf .img #cdos {
  width: 15rem;
  object-fit: cover;
  opacity: 0;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-name: desplieguedos;
}
main .containerInf .img #cuno {
  width: 15rem;
  object-fit: cover;
  opacity: 0;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-name: desplieguetres;
}
main .containerInf .inf {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.5843137255), rgba(114, 117, 85, 0.6078431373), rgba(127, 130, 98, 0.6980392157), rgba(142, 145, 111, 0.6392156863), rgba(156, 159, 124, 0.5843137255));
  backdrop-filter: blur(2px);
  width: 40rem;
  min-width: 20rem;
}
main .containerInf .inf h1 {
  font-size: 3.5rem;
}
main .containerInf .inf p {
  font-size: 1rem;
}

@media screen and (max-width: 654px) {
  main .containerInf .img {
    top: -14rem;
    left: 3rem;
  }
  main .containerInf #ctres {
    width: 9rem;
    object-fit: cover;
    opacity: 0;
    animation-delay: 300ms;
    animation-duration: 2s;
    animation-name: despliegueuno;
    animation-fill-mode: forwards;
  }
  main .containerInf #cdos {
    width: 9rem;
    object-fit: cover;
    opacity: 0;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: desplieguedos;
  }
  main .containerInf #cuno {
    width: 9rem;
    object-fit: cover;
    opacity: 0;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: desplieguetres;
  }
}
#mainSobreNosotros {
  background-image: none;
  background-color: #4d503b;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#mainSobreNosotros section .secInf {
  overflow: hidden;
  margin: 1rem 0;
  padding: 0;
  height: 10rem;
}
#mainSobreNosotros section .secInf .info {
  height: 10rem;
  background-color: #646749;
}
#mainSobreNosotros section .secInf img {
  width: 20rem;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 827px) {
  section .secInf {
    margin: 0.5rem 0;
  }
  section .secInf .info {
    flex-direction: column;
    overflow-y: auto !important;
  }
  .info img {
    padding: 1rem;
    width: 20rem;
    height: 100%;
    object-fit: cover;
  }
}
#mainCartas h1 {
  background-color: rgba(100, 103, 73, 0.6705882353);
  backdrop-filter: blur(2px);
}
#mainCartas #carouselExampleControls {
  max-width: 50rem;
}
#mainCartas #carouselExampleControls .infCartas {
  width: 100%;
  max-height: 25rem;
  padding: 1.5rem;
  background-color: rgba(100, 103, 73, 0.6705882353);
  backdrop-filter: blur(2px);
}
#mainCartas #carouselExampleControls .infCartas .cartImg {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
}
#mainCartas #carouselExampleControls .infCartas .textCart {
  width: 60%;
  height: 25rem;
}

@media screen and (max-width: 688px) {
  .infCartas {
    max-height: 30rem !important;
  }
  .infCartas .cartImg {
    width: 12rem !important;
    height: 17rem !important;
    object-fit: cover;
  }
  .infCartas .textCart {
    width: 100% !important;
  }
}
a, input {
  color: inherit;
  font-family: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  color: #b7c5d2;
}

/*# sourceMappingURL=indexStyle.css.map */
