@keyframes despliegueuno {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: rotate(-50deg) translate(-8rem, -2rem);
  }
}
@keyframes desplieguedos {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: rotate(-30deg) translate(-4rem, 0rem);
  }
}
@keyframes desplieguetres {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: rotate(-10deg) translate(1rem, 0rem);
  }
}
@keyframes despliegueContainer {
  from {
    opacity: 0;
    transform: translate(0rem, -10rem);
  }
  to {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}
@keyframes despliegueInfL {
  0% {
    transform: translate(-100%);
  }
  20% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -2deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    transform: translate(0%);
  }
}
@keyframes despliegueInfR {
  0% {
    transform: translate(100%);
  }
  20% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -2deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    transform: translate(0%);
  }
}
nav a {
  color: inherit;
}

header {
  width: 100%;
}
header nav {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.7450980392), rgba(114, 117, 85, 0.4039215686), rgba(127, 130, 98, 0.2235294118), rgba(142, 145, 111, 0.0901960784), rgba(156, 159, 124, 0));
  backdrop-filter: blur(2px);
  min-height: 4.5rem;
  z-index: 100;
}
header nav a {
  color: rgb(205, 209, 195) !important;
}
header nav a img {
  width: 4rem;
  height: 4rem;
}

footer {
  width: 100%;
}
footer nav {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.7803921569), rgba(114, 117, 85, 0.8117647059), rgba(127, 130, 98, 0.7803921569), rgba(142, 145, 111, 0.8235294118), rgba(156, 159, 124, 0.5843137255));
  backdrop-filter: blur(2px);
}

#mainInicio {
  color: rgb(205, 209, 195) !important;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}
#mainInicio .containerInf {
  width: 70%;
  height: 70%;
  opacity: 0;
  animation-delay: 100ms;
  animation-duration: 1s;
  animation-name: despliegueContainer;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
#mainInicio .containerInf .img {
  top: -14rem;
  left: -15%;
}
#mainInicio .containerInf .img img {
  top: 0rem;
}
#mainInicio .containerInf .img #ctres {
  width: 15rem;
  object-fit: cover;
  opacity: 0;
  animation-delay: 300ms;
  animation-duration: 2s;
  animation-name: despliegueuno;
  animation-fill-mode: forwards;
}
#mainInicio .containerInf .img #cdos {
  width: 15rem;
  object-fit: cover;
  opacity: 0;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-name: desplieguedos;
}
#mainInicio .containerInf .img #cuno {
  width: 15rem;
  object-fit: cover;
  opacity: 0;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-name: desplieguetres;
}
#mainInicio .containerInf .inf {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.5843137255), rgba(114, 117, 85, 0.6078431373), rgba(127, 130, 98, 0.6980392157), rgba(142, 145, 111, 0.6392156863), rgba(156, 159, 124, 0.5843137255));
  backdrop-filter: blur(2px);
  width: 40rem;
  min-width: 20rem;
}
#mainInicio .containerInf .inf h1 {
  font-size: 3.5rem;
}
#mainInicio .containerInf .inf p {
  font-size: 1rem;
}

@media screen and (max-width: 654px) {
  main .containerInf .img {
    top: -14rem;
    left: 3rem !important;
  }
  main .containerInf #ctres {
    width: 9rem;
    object-fit: cover;
    opacity: 0;
    animation-delay: 300ms;
    animation-duration: 2s;
    animation-name: despliegueuno;
    animation-fill-mode: forwards;
  }
  main .containerInf #cdos {
    width: 9rem;
    object-fit: cover;
    opacity: 0;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: desplieguedos;
  }
  main .containerInf #cuno {
    width: 9rem;
    object-fit: cover;
    opacity: 0;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: desplieguetres;
  }
}
#mainSobreNosotros, #mainIdeasEnMente {
  color: rgb(205, 209, 195) !important;
  width: 100vw;
  height: 100vh;
}
#mainSobreNosotros .secInfL, #mainIdeasEnMente .secInfL {
  animation-name: despliegueInfL;
  animation-duration: 1.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
#mainSobreNosotros .secInfR, #mainIdeasEnMente .secInfR {
  animation-name: despliegueInfR;
  animation-duration: 1.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#mainSobreNosotros section .secInf {
  overflow: hidden;
  margin: 1rem 0;
  padding: 0;
  height: 10rem;
}
#mainSobreNosotros section .secInf .info {
  height: 10rem;
  background-color: #646749;
}
#mainSobreNosotros section .secInf img {
  width: 20rem;
  height: 100%;
  object-fit: cover;
}

#mainIdeasEnMente section .secInf {
  overflow: hidden;
  margin: 1rem 0;
  padding: 0;
  height: 10rem;
}
#mainIdeasEnMente section .secInf .info {
  height: 10rem;
  background-color: #646749;
}
#mainIdeasEnMente section .secInf img {
  width: 35rem;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 827px) {
  #mainSobreNosotros section, #mainIdeasEnMente section {
    height: 80% !important;
  }
  #mainSobreNosotros section .secInf, #mainIdeasEnMente section .secInf {
    margin: 0.4rem 0 !important;
    height: 14rem !important;
  }
  #mainSobreNosotros section .secInf .info, #mainIdeasEnMente section .secInf .info {
    flex-direction: column;
    height: 14rem !important;
    overflow-y: auto !important;
  }
  #mainSobreNosotros .info img, #mainIdeasEnMente .info img {
    min-height: 50%;
    padding: 0.5rem;
    width: 80% !important;
    height: 72% !important;
    object-fit: cover;
  }
}
#mainCartas {
  color: rgb(205, 209, 195) !important;
  width: 100vw;
  height: 100vh;
}
#mainCartas h1 {
  background-color: rgba(100, 103, 73, 0.6705882353);
  backdrop-filter: blur(2px);
}
#mainCartas #carouselExampleControls {
  max-width: 50rem;
}
#mainCartas #carouselExampleControls .infCartas {
  width: 100%;
  max-height: 25rem;
  padding: 1.5rem;
  background-color: rgba(100, 103, 73, 0.6705882353);
  backdrop-filter: blur(2px);
}
#mainCartas #carouselExampleControls .infCartas .cartImg {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
}
#mainCartas #carouselExampleControls .infCartas .textCart {
  width: 60%;
  height: 25rem;
}

@media screen and (max-width: 688px) {
  #mainCartas h1 {
    background-color: rgba(100, 103, 73, 0.6705882353);
    backdrop-filter: blur(2px);
  }
  #mainCartas .infCartas {
    max-height: 29rem !important;
  }
  #mainCartas .infCartas .cartImg {
    width: 12rem !important;
    height: 17rem !important;
    object-fit: cover;
  }
  #mainCartas .infCartas .textCart {
    width: 100% !important;
  }
}
.bg-color {
  background-image: none;
  background-color: #4d503b;
}

.bg-img {
  background-image: linear-gradient(to bottom, rgba(100, 103, 73, 0.4901960784), rgba(114, 117, 85, 0.3843137255), rgba(127, 130, 98, 0.3058823529), rgba(142, 145, 111, 0.368627451), rgba(156, 159, 124, 0.4235294118)), url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a, input {
  color: inherit;
  font-family: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  color: #b7c5d2;
}

/*# sourceMappingURL=indexStyle.css.map */
